@import "tailwindcss";

:root {
  --background-primary: #ffffff;
  --background-secondary: #f4f4f5;
  --text-primary: #09090b;
  --text-secondary: #71717a;
  --border-primary: #e4e4e7;
  color-scheme: light;
}

.dark {
  --background-primary: #09090b;
  --background-secondary: #18181b;
  --text-primary: #fafafa;
  --text-secondary: #a1a1aa;
  --border-primary: #27272a;
  color-scheme: dark;
}

@theme {
  --color-border-primary: var(--border-primary);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-primary);
  background-color: var(--background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

#root {
  width: 100vw;
  height: 100vh;
}
