@import "tailwindcss";

:root.dark {
  --bg-primary: #09090b;
  --bg-secondary: #18181b;
  --text-primary: #fafafa;
  --text-secondary: #a1a1aa;
  --border-color: #27272a;
  color-scheme: dark;
}

:root.light {
  --bg-primary: #ffffff;
  --bg-secondary: #f4f4f5;
  --text-primary: #09090b;
  --text-secondary: #71717a;
  --border-color: #e4e4e7;
  color-scheme: light;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}